fastapi
uvicorn[standard]
python-multipart==0.0.9
python-dotenv
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]

opencv-python-headless==4.9.0.80
numpy==1.26.4
Pillow==10.3.0
imageio-ffmpeg

ultralytics==8.2.18
torch>=2.0.0
torchvision>=0.15.0

huggingface-hub==0.23.0
paddleocr==3.7.0
paddlepaddle==3.2.2
inference-sdk

yagmail>=0.15.293
keyring>=24.0.0